<div fxLayoutAlign="center center" fxFlexFill fxLayout="column">
  <!-- START -- top menu -->
  <div fxFlex="10" fxFlexFill>
    <div class="hamburger" fxLayout="row">
      <div fxFlex="5"></div>
      <mat-form-field>
        <mat-select-trigger>
          <mat-icon>menu</mat-icon>
        </mat-select-trigger>
        <mat-select>
          <mat-option routerLink="/about">About Us</mat-option>
          <mat-option routerLink="/login/student">Logout</mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex="2"></div>
      <div
        style="cursor: pointer"
        routerLink="/student-home"
        (click)="ClickAudio()"
      >
        <img class="home" src="../../../../assets/img/home.png" />
      </div>
      <div fxFlex="70"></div>
      <div style="cursor: pointer" *ngIf="isMute">
        <img
          class="volume"
          src="../../../../assets/img/mute.png"
          (click)="ClickAudio(); ToggleMute()"
        />
      </div>
      <div style="cursor: pointer" *ngIf="!isMute">
        <img
          class="volume"
          src="../../../../assets/img/volume.png"
          (click)="ClickAudio(); ToggleMute()"
        />
      </div>
    </div>
  </div>
  <!-- END -- top menu -->
  <div fxLayoutAlign="center center" fxFlexFill fxLayout="row" fxFlex="90">
    <div fxLayoutAlign="center center" fxFlexFill>
      <div
        hidden="true"
        fxLayoutAlign="center center"
        fxLayout="column"
        class="main-div"
      >
        <div *ngIf="!isLevelCompleted">
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="30">
              <div class="mat-display-1 header">
                Level {{ this.level.split("l")[1] }}
              </div>
              <div fxLayout="row" class="question-{{ this.questionIndex }}">
                <div class="circle c1 c2 c3 c4 c5"></div>
                <div class="circle c2 c3 c4 c5"></div>
                <div class="circle c3 c4 c5"></div>
                <div class="circle c4 c5"></div>
                <div class="circle c5"></div>
              </div>
            </div>
            <div fxFlex="70" class="mat-display-3 header">
              Let's {{ gameTypeId | titlecase }}
            </div>
            <!-- <div fxFlex="30"></div> -->
          </div>
          <div class="mat-display-3 header" fxLayoutAlign="center center">
            <!-- {{ studentRank }} -->
          </div>
          <div class="content">
            <div class="question">
              <div fxLayout="column" class="quiz-label-container">
                <div
                  fxLayout="row"
                  fxFlexFill
                  style="justify-content: space-between"
                >
                  <div
                    class="mat-display-3 quiz-label"
                    fxLayoutAlign="center center"
                    style="background-color: #ff8036; color: #91242f"
                  >
                    {{ firstNumber }}
                  </div>
                  <div
                    class="mat-display-3 quiz-label"
                    fxLayoutAlign="center center"
                    style="background-color: #f82f2f; color: #f5f5f5"
                  >
                    {{ symbol }}
                  </div>
                  <div
                    class="mat-display-3 quiz-label"
                    fxLayoutAlign="center center"
                    style="background-color: #fd6cc7; color: #91242f"
                  >
                    {{ secondNumber }}
                  </div>
                </div>

                <div fxLayoutAlign="center center">
                  <div class="mat-display-3" fxLayoutAlign="center center">
                    =
                  </div>
                </div>

                <div fxLayoutAlign="center center">
                  <div
                    class="mat-display-3 quiz-label"
                    fxLayoutAlign="center center"
                    style="background-color: #46ff64; color: #91242f"
                  >
                    ?
                  </div>
                </div>
              </div>

              <div class="mat-display-1 txt">The correct answer is,</div>

              <div>
                <div fxLayoutAlign="center">
                  <button
                    mat-button
                    class="mat-display-2 answer choose-answer"
                    [value]="answerOne"
                    [disabled]="isDisabledAnswers || completedQuestion"
                    [ngStyle]="styleAns1"
                    id="ans1"
                    (click)="ClickAudio(); SelectAnswer(answerOne, $event)"
                  >
                    {{ answerOne }}
                  </button>
                  <button
                    mat-button
                    class="mat-display-2 answer choose-answer"
                    [value]="answerTwo"
                    [disabled]="isDisabledAnswers || completedQuestion"
                    [ngStyle]="styleAns2"
                    id="ans2"
                    (click)="ClickAudio(); SelectAnswer(answerTwo, $event)"
                  >
                    {{ answerTwo }}
                  </button>
                </div>
                <div fxLayoutAlign="center">
                  <button
                    mat-button
                    class="mat-display-2 answer choose-answer"
                    [value]="answerThree"
                    [disabled]="isDisabledAnswers || completedQuestion"
                    [ngStyle]="styleAns3"
                    id="ans3"
                    (click)="ClickAudio(); SelectAnswer(answerThree, $event)"
                  >
                    {{ answerThree }}
                  </button>
                  <button
                    mat-button
                    class="mat-display-2 answer choose-answer"
                    [value]="answerFour"
                    [disabled]="isDisabledAnswers || completedQuestion"
                    [ngStyle]="styleAns4"
                    id="ans4"
                    (click)="ClickAudio(); SelectAnswer(answerFour, $event)"
                  >
                    {{ answerFour }}
                  </button>
                </div>
              </div>
            </div>

            <div fxLayout="row" style="justify-content: space-between">
              <button
                class="btn-opts"
                color="primary"
                (click)="ClickAudio(); CheckAnswer()"
                [disabled]="isDisableSubmit"
              >
                Submit
              </button>
              <button
                class="btn-opts"
                color="primary"
                [disabled]="isDisableNext"
                (click)="ClickAudio(); DisplayNextQuestion()"
              >
                Next
              </button>
            </div>
          </div>
        </div>
        <div
          class="complete"
          fxLayout="column"
          fxLayoutAlign="center center"
          *ngIf="isLevelCompleted"
        >
          <div class="mat-display-3 header">Congratulations!</div>
          <div class="mat-display-1" fxLayoutAlign="center center">
            You have successfully completed
          </div>
          <div class="mat-display-1" fxLayoutAlign="center center">
            Level {{ this.level?.split("l")[1] }}
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div class="image">
              <img src="../../../../assets/img/boy.png" />
            </div>
            <div fxLayout="column">
              <div class="mat-display-1" fxLayoutAlign="center">
                Your score is
              </div>
              <div class="mat-display-3 level-mark" fxLayoutAlign="center">
                {{ levelMarks }}
              </div>
            </div>

            <div class="image">
              <img src="../../../../assets/img/girl.png" />
            </div>
          </div>
          <div class="btns" fxLayout="row">
            <button
              mat-raised-button
              class="home"
              (click)="ClickAudio(); isLevelCompleted = false"
              routerLink="/student-home"
            >
              Home
            </button>
            <button
              mat-raised-button
              class="next"
              (click)="ClickAudio(); NextLevel()"
              routerLink="/game/subtract/l{{ nextLevel }}"
            >
              To next level
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
